<%- include('../includes/head.ejs')  %> 
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <%- include('../includes/layout.ejs') %>
 
      <% if (prods.length > 0) { %>
      <div class="grid grid-cols-2 gap-4">
        <% for (let product of prods) { %>
        <article class="card">
          <div class="max-h-64 w-full">
            <img
            src="<%= product.imageUrl %> "
            alt="A Book"
            />
          </div>
          <hr />
          <div class="card__content">
            <h1 class="text-xl font-bold">
              <%= product.title %>
            </h1>
            <h2 class="font-bold"><%= product.price%> </h2>
            <p class="text-secondary">
              <%=product.description %> 
            </p>
          </div>
          <div >
            <button class="btn">Edit</button>
            <button class="btn">Delete</button>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <h1>No products found</h1>
      <% } %>
  
    <%- include('../includes/end.ejs')  %> 
